:root {

  /* 文字色 */
  --color-text-main: #5A3A28;	/* 茶 */
  --color-text-sub: #2D78B7;	/* 青 */

  /* 背景色 */
  --color-bg-base: #BFE3F7;		/* 水色 */
  --color-bg-main: #F7F1E3;		/* アイボリー */
  --color-bg-sub: #FFFDF8;		/* オフホワイト */
  --color-bg-calendar: #F8F4EA;	/* アイボリー */
  --color-bg-best: #FEF3C7;		/* アイボリー */

  /* ボタン色 */
  --color-button-main: #2D78B7;		/* 青 */
  --color-button-sub: #5CB7E8;		/* 水色 */
  --color-button-danger: #E85B47;	/* 朱色 */
  --color-button-other: #79B84D;	/* 緑 */

  /* その他汎用 */
  --color-common-white: #FFFDF8;		/* 白 */
  --color-common-gray-high: #B8ABA6;	/* 灰色 */
  --color-common-gray-low: #7B675A;		/* 灰色 */
  --color-common-accent: #F59A2A;		/* オレンジ */

  /* フォントサイズ */
  --font-xxs: 0.6rem;
  --font-xs: 0.75rem;  /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem;     /* 16px */
  --font-md-lg: 1.125rem; /* 18px */
  --font-lg: 1.25rem;  /* 20px */
  --font-xl-sm: 1.75rem;
  --font-xl: 2rem;     /* 32px */
  --font-xxl: 2.5rem;  /* タイマー */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", "Inter", sans-serif;
  background: var(--color-bg-base);
  color: var(--color-text-main);
}
