.calendar__grid {
  display: grid;
  font-size: var(--font-md-lg);
  grid-template-columns: repeat(7, 1fr);
  line-height: 2;
  margin: 0 auto;
  width: min(100%, 400px);
}

.calendar__week {
  text-align: center;
}

.day {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.day.selected {
  background-color: var(--color-primary-100);
  border-radius: 50%;
}
.day.today {
  color: var(--color-primary-500);
  font-weight: 700;
}
.day.other-month {
  color: var(--color-gray-300);
}
.day.has-record::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 3px;
  background-color: var(--color-primary-500);
}