.calendar__grid {
  display: grid;
  font-size: var(--font-md-lg);
  grid-template-columns: repeat(7, 1fr);
  line-height: 2;
  margin: 0 auto;
  width: min(100%, 400px);
  border: 1px solid var(--color-text-main);
  background: var(--color-bg-calendar);
}

.calendar__week {
  background: var(--color-text-main);
  color: var(--color-common-white);
  text-align: center;
  border-bottom: none;
}
.calendar__week > .sunday {
  background: var(--color-button-danger);
}
.calendar__week > .saturday {
  background: var(--color-button-main);
}

.btn--calendar {
  padding: 0.5rem;
  font-size: var(--font-lg);
  background: var(--color-common-white);
  color: var(--color-text-main);
  border: 1px solid var(--color-common-gray-high);
  border-radius: 8px;
}

.day {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.day.selected {
  background: rgba(245, 154, 42, 0.3);
  border: none;
  border-radius: 50%;
}
.day.today {
  color: var(--color-common-accent);
  font-weight: 700;
}
.day.other-month {
  color: var(--color-common-gray-high);
}
.day.has-record::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--color-common-accent);
}