body {
  font-family: "BIZ UDPGothic", sans-serif;
  max-width: 480px;
  line-height: 1.5;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  body {
    max-width: 75%;
    margin: 1rem auto;
  }
}

h1 {
  margin: 0.5rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
}

header {
  margin-bottom: 1rem;
}

section+section {
  margin-top: 1rem;
}

input[type="text"] {
  width: 100%;
}

#genre {
  color: #999;
}

#actions {
  display: flex;
  gap: 1em;
}

#timer {
  font-size: 2rem;
  text-align: center;

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.large {
  font-size: large;
}

.small {
  font-size: small;
}

.sub-area {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 1rem 0;
}

.compact {
  padding: 0.5rem;
}

.date {
  font-size: small;
  color: #666;
}

.score {
  font-family: "JetBrains Mono", monospace;
}

.hidden {
  visibility: hidden;
}

.under-border {
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 0;
}


/** 明るい方 **/
.good {
  color: #259D63;
}
.bad {
  color: #EC0000;
}

/** 暗い方 ******
.good {
  color: #197A4B;
}
.bad {
  color: #EC0000;
}
***************/