#memo-section {
  display: flex;
}
.record-item {
  display: flex;
  flex-direction: column;   /* 縦に2段 */
  border: #999 solid 1px;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em 0;
}
.record-item .main-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: large;
}
.record-item .memo {
  line-height: 1.4;
  word-break: break-word;   /* 長文対応 */
}

.attempt {
  color: #666;
}

