.mt-0 { margin-top: 0; }
.mt-8 { margin-top: 8px; }
.mt-16 { margin-top: 16px; }

.pb-ex { padding-bottom: 10rem; }

.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }

.text-center { text-align: center; }

.font-medium { font-size: var(--font-md); }

.score { font-family: "JetBrains Mono", monospace; }
